@import "app/styles/abstracts/variables"



.projects
  margin-top: 20rem
  .title
    font-family: "Prompt", sans-serif
    font-weight: 800
    font-size: 45px
    color: $color-third
    margin-bottom: 5rem
    @media only screen and (max-width: 1024px)
      font-size: 42px
    @media only screen and (max-width: 768px)
      font-size: 40px
    @media only screen and (max-width: 430px)
      font-size: 38px
  .wrapper
    display: flex
    flex-direction: column
    margin-top: 5rem
    .item
      width: 100%
      display: flex
      align-items: center
      gap: 2rem
      margin-bottom: 2.5rem
      border-bottom: 1px solid $color-secondary
      padding-bottom: 1rem
      &:hover
        cursor: pointer
        .info
          h1
            color: $color-four
          p
            color: white
        .arrow

          path
            stroke:  $color-four
      .info
        flex-grow: 1
        h1
          font-family: "Open Sans", sans-serif
          font-weight: 800
          font-size: 36px
          color: rgba(255, 255, 255, 0.6)
          transition: all .5s
          @media only screen and (max-width: 1024px)
            font-size: 34px
          @media only screen and (max-width: 768px)
            font-size: 32px
          @media only screen and (max-width: 430px)
            font-size: 26px
        p
          display: flex
          align-items: center
          flex-wrap: wrap
          gap: 1rem
          color: rgba(255, 255, 255, 0.6)
          font-family: "Open Sans", sans-serif
          font-weight: 400
          font-size: 20px
          margin-top: 1rem
          transition: all .5s
          @media only screen and (max-width: 1024px)
            font-size: 18px
          @media only screen and (max-width: 768px)
            font-size: 17px
          @media only screen and (max-width: 430px)
            font-size: 16px

      .arrow
        width: 3rem
        height: 3rem
        //object-fit: cover
        flex-shrink: 0
        path
          stroke:  rgba(255, 255, 255, 0.6)
          transition: all .5s



.projectsInfo
  width: 100%
  padding: 5rem
  display: flex
  flex-direction: column
  .subtitle
    font-family: "Open Sans", sans-serif
    font-weight: 800
    font-size: 30px
    color: white
    margin-bottom: 1rem
    @media only screen and (max-width: 1024px)
      font-size: 34px
    @media only screen and (max-width: 768px)
      font-size: 32px
    @media only screen and (max-width: 430px)
      font-size: 26px
  .year
    margin-top: 3.2rem
    font-family: "Open Sans", sans-serif
    font-weight: 400
    color: white
    p
      font-size: 22px
      &:first-child
        font-size: 24px
        font-weight: 800

  .technologies
    margin-top: 3.2rem
    font-family: "Open Sans", sans-serif
    color: white
    p
      font-size: 24px
      font-weight: 800


    ul
      display: flex
      flex-wrap: wrap
      gap: 1rem
      margin-top: 1rem
      list-style: none
      li
        font-size: 22px
        @media only screen and (max-width: 1024px)
          font-size: 18px


  .desc
    margin-top: 3.2rem
    font-family: "Open Sans", sans-serif
    font-weight: 400

    color: white
    p
      font-size: 20px
      &:first-child
        font-size: 24px
        font-weight: 800

  .myRole
    margin-top: 3.2rem
    font-family: "Open Sans", sans-serif
    font-weight: 400

    color: white
    p
      font-size: 20px
      &:first-child
        font-size: 24px
        font-weight: 800
    ul
      display: flex
      flex-direction: column
      margin-top: 1rem
      margin-left: 2rem
      li
        font-size: 20px
  .images
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center
    gap: 4rem
    margin-top: 3.2rem
    .image
      width: 60rem
      img
        width: 100%
        height: 100%
        object-fit: contain

